'atom-workspace atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
'atom-workspace':
  'ctrl-x ctrl-c': 'window:close'
'.platform-darwin':
  'ctrl-x g': 'git-plus:menu'
'body':
  'ctrl-x n': 'pane:show-next-item'
  'ctrl-x p': 'pane:show-previous-item'
'atom-text-editor:not([mini])':
  'ctrl-i': 'editor:auto-indent'
