'atom-workspace atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
'atom-workspace':
  'ctrl-x ctrl-c': 'window:close'
'.platform-darwin':
  'ctrl-x g': 'git-plus:menu'
'body':
  'ctrl-?': 'core:redo'
  'ctrl-x n': 'pane:show-next-item'
  'ctrl-x p': 'pane:show-previous-item'
  'alt-1': 'pane:show-item-1'
  'alt-2': 'pane:show-item-2'
  'alt-3': 'pane:show-item-3'
  'alt-4': 'pane:show-item-4'
  'alt-5': 'pane:show-item-5'
  'alt-6': 'pane:show-item-6'
  'alt-7': 'pane:show-item-7'
  'alt-8': 'pane:show-item-8'
  'alt-9': 'pane:show-item-9'
'atom-text-editor:not([mini])':
  'ctrl-i': 'editor:auto-indent'
'body atom-workspace':
  'ctrl-x 0': 'core:close'
